<StockApp>
  <clean>true</clean>
  <top>5000</top>
  <querytop>50</querytop>
  <onlytop>true</onlytop>
  <bigDeal>500</bigDeal>
  <downloadAll>0</downloadAll>
  <downloadthreadnum>1</downloadthreadnum>
  <downloadAndInsert>true</downloadAndInsert>
  <mysqlstring>Database='Test';Data Source='114.215.102.172';User Id='gl';Password='gl';charset='utf8';pooling=true</mysqlstring>
  <daysbefore>0</daysbefore>
  <analyzetime>12-6-3-1</analyzetime>
</StockApp>